.navbar{
  position: fixed;
  width: 100%;
  background: rgb(228, 70, 70);
  color: #Fff;
}
.navbar span{
  color: #Fff;
}
.detail{
  height: 100%;
  padding: 4rem 0 0 0;
  overflow: auto;
  width: 95%;
  margin: 0 auto;
}
img{
  display: inline-block;
  width: 4rem;
  margin-right: 0.5rem;
}
.detail p{
  margin: 1rem 0
}
.detail i{
  font-style: normal;
  display: inline-block;
  width: 100%;
  text-align: center
}
.btn{
  width: 30%;
  float: right;
  margin-top: 2rem;
}
